<div class="card">
    <div class="card-body">
        <h5 class="card-title">
            <a href="{% url 'listar_visitas_guiadas' %}">{{ visita.nombre_visita_guia|capfirst }}</a>
        </h5>
            {{ visita.nombre_visita_guiada|capfirst }}
            Duración: {% if visita.duracion %} {{ visita.duracion }} horas {% else %} No especificada {% endif %}
        </h6>
        <p class="card-text"><strong>Capacidad máxima:</strong> {{ visita.capacidad_maxima }}</p>
        <p class="card-text"><strong>Idioma:</strong> {{ visita.idioma|capfirst }}</p>

        <!-- Listado de guías asociados a la visita -->
        {% if visita.guias.all %}
        <div>
            <p class="card-text"><strong>Guías de la visita:</strong></p>
            <ul>
                {% for guia in visita.guias.all %}
                    <li class="card-text">{{ guia.nombre }} ({{ guia.idioma|capfirst }})</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
    </div>
</div>
