<div class="card">
    <div class="card-body">
        <h5 class="card-title">{{ visita.nombre_visita_guia|capfirst }}</h5>
        <h6 class="card-subtitle mb-2 text-muted">Duración: {{ visita.duracion }}</h6>
        <p class="card-text">Capacidad Máxima: {{ visita.capacidad_maxima }}</p>
        <p class="card-text">Idioma: {{ visita.idioma }}</p>
        <div>
            <p class="card-text">Guías:</p>
            <ul>
                {% for guia in visita.guias %}
                    <li class="card-text">{{ guia }}</li>
                {% endfor %}
            </ul>
        </div>
        <div>
            <p class="card-text">Visitantes:</p>
            <ul>
                {% for visitante in visita.visitantes %}
                    <li class="card-text">{{ visitante }}</li>
                {% endfor %}
            </ul>
        </div>
        {% load bootstrap_icons %}
    </div>
</div>