<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Museo Online</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarNav">
      {% if request.user.is_authenticated %}
      <p>
          Nombre de usuario: {{ request.user }}<br>
          Fecha Inicio: {{ request.session.fecha_inicio}}
          Rol: {{ request.session.rol }} <br>
          Número de usuario: {{ request.session.numero_usuario }}
      </p>
      {% endif %}
        <ul class="navbar-nav">
          <!-- Grupo para Museos -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="museoDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Museos</a>
            <ul class="dropdown-menu" aria-labelledby="museoDropdown">
              <li>
                <a class="dropdown-item" href="{% url 'listar_museos' %}">Listado de Museos</a>
              </li>
              <li>
                  <a class="dropdown-item" href="{% url 'museo_buscar_simple' %}">Buscar Museo</a>
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'museo_buscar_avanzada' %}">Buscar (Avanzado) Museo</a>
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'museo_create' %}">Crear Museo</a>
              </li>
            </ul>
          </li>
          <!-- Grupo para Obras -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="obraDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Obras</a>
            <ul class="dropdown-menu" aria-labelledby="obraDropdown">
              <li>
                <a class="dropdown-item" href="{% url 'listar_obras' %}">Listado de Obras</a>
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'obra_buscar_avanzada' %}">Buscar (Avanzado) Obras</a>
              </li>
            </ul>
          </li>
          <!-- Grupo para Exposiciones -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="obraDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Exposiciones</a>
            <ul class="dropdown-menu" aria-labelledby="obraDropdown">
              <li>
                <a class="dropdown-item" href="{% url 'listar_exposiciones' %}">Listado de Exposiciones</a>
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'exposicion_buscar_avanzada' %}">Buscar (Avanzado) Exposiciones</a>
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'exposicion_create' %}">Crear Exposición</a>
              </li>
            </ul>
          </li>
          <!-- Grupo para Entradas -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="obraDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Entradas</a>
            <ul class="dropdown-menu" aria-labelledby="obraDropdown">
              <li>
                <a class="dropdown-item" href="{% url 'listar_entradas' %}">Listado de Entradas</a>
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'entrada_buscar_avanzada' %}">Buscar (Avanzado) Entradas</a>
              </li>
            </ul>
          </li>
          <!-- Grupo para VisitasGuiadas -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="museoDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Visita Guiada</a>
            <ul class="dropdown-menu" aria-labelledby="museoDropdown">
              <li>
                <a class="dropdown-item" href="{% url 'listar_visitas_guiadas' %}">Listado de Visitas Guiadas</a>
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'visita_guiada_create' %}">Crear Visita Guiada</a>
              </li>
            </ul>
          </li>
          <!-- Grupo para Productos -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="museoDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Productos</a>
            <ul class="dropdown-menu" aria-labelledby="museoDropdown">
              <li>
                <a class="dropdown-item" href="{% url 'listar_productos' %}">Listado de Productos</a>
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'producto_create' %}">Crear Producto</a>
              </li>
            </ul>
          </li>
  </div>
</nav>