<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Museos</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container mt-5">
        <h1 class="mb-4">Lista de Museos</h1>
        <ul class="list-group">
            {% for museo in museos %}
                <li class="list-group-item">
                    <h6 class="text-muted">ID: {{ museo.id }}</h5>
                    <h5>Nombre: {{ museo.nombre }}</h6>
                    <p>Ubicación: {{ museo.ubicacion }}</p>
                    <p>Fecha de Fundación: {{ museo.fecha_fundacion }}</p>
                    <p>Descripción: {{ museo.descripcion }}</p>
                    <p>Creado por: {{ museo.creado_por }}</p>
                </li>
            {% empty %}
                <li class="list-group-item text-center">
                    <h1>Lo sentimos pero no hay museos</h1>
                </li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>