<div class="container mt-5">
    <ul class="list-group">
            <li class="list-group-item">
                <h5>Nombre: {{ exposicion.titulo }}</h6>
                <p>Fecha de inicio: {{ exposicion.fecha_inicio }}</p>
                <p>Fecha de fin: {{ exposicion.fecha_fin }}</p>
                <p>Capacidad: {{ exposicion.capacidad }}</p>
                <p>Descripción: {{ exposicion.descripcion }}</p>
                <p>Museo en el que esta: {{ exposicion.museo }}</p>
            </li>
    </ul>
</div>