{% extends 'principal.html' %}
{% load django_bootstrap5 %}

{% block contenido %}
    <div class="container mt-5">
        <h1 class="mb-4">Lista de Obras</h1>
        <ul class="list-group">
            {% for obra in obras %}
                <li class="list-group-item">
                    <h5>Título: {{ obra.titulo }}</h5>
                    <p>Fecha de Creación: {{ obra.fecha_creacion }}</p>
                    <p>Tipo: {{ obra.tipo }}</p>
                    <p>Artista: {{ obra.artista }}</p>
                    <p>Exposición: {{ obra.exposicion }}</p>
                </li>
            {% empty %}
                <li class="list-group-item text-center">
                    <h1>No hay obras disponibles</h1>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}